*.png
*.pdf
*.jpg
*.csv
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*~*
*.RData
*.RDa
*#*
*.RDataTmp
*.pyc
.idea/*
./test/__pycache__/*
./MetaIPM/__pycache__/*
./MetaIPM/__init__.py
./MetaIPM/functions/__pychace__/*
.ipynb_checkpoints/*
MetaIPM/.ipynb_checkpoints/*
MetaIPM_rerickson_USGS.egg-info/*
build/*
dist/*
test/.ipynb_checkpoints/*
Tutorial/.ipynb_checkpoints/*